body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-repeat: no-repeat;
    background-image: url('../src/assets/img/night.jpg');
    background-position: center;
    background-size: cover;
}
.weather-container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: auto;
    border: 1px solid #ccc;
    font-size: 15px;
}
.kpi-temp {
    font-size: 20px;
    display: block;
}
.weather-input:hover {
    outline: none;
}
.box-temp {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.weather-box {
    background: #191919;
    border-radius: 10px;
    padding: 60px;
    width: 40%;
    color: white;
    margin-top: 100px;
    text-align: center;
}

.temperature {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}

.city {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}